/* Tweet container */
.all-tweets {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
} 

/* Tweet box */
article.tweet {
  border: 3px solid grey;
  border-width: thick;
  color: #545149;
  margin-top: 50px;
  padding: 20px;
}

/* Tweet box hover*/
article.tweet:hover {
  box-shadow: 7px 7px rgb(190, 202, 236);
}

/* Area for Icon, name, username and tweet */
.tweet header {
  font-family: "Source Sans Pro", sans-serif;
  color: #545149;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

/* User full name */
.name {
  padding-top: 20px;
  padding-left: 10px;
}

/* Posted tweet */
/* To split the text to some lines so it fits in the block*/
.tweet-text {
  border-bottom: 1px solid grey;
  border-width: thick;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
  color: black;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.5em;
  line-height: 1.8em;
}

/* Icon and name */
.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* User avatar */
#icon {
  height: 50px;
  width: 50px;
}

/* @username */
.username {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding-top: 20px;
}

/* Date and icons */
article footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: grey;
}

/* Icons hovering */
.icons i:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

/* Error message */
.error-message {
  display: flex;
  color: red;
  border: 3px solid red;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}