/* Top Nav*/
nav {
  display: flex;
  width: 100%;
  height: 120px;
  top: 0;
  justify-content: flex-start;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  position: fixed;
  background-color: #8badd4;
  color:#FFFFFF;
  font-family: "Bungee", cursive;
}

/* For "Write a new tweet" and arrow sign*/
#right-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  font-family: "Source Sans Pro", sans-serif;
}

#left-nav {
  font-size: 40px;
}

.fa-angles-down{
  transform: translate(0, -5px);
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    padding: 0px;
  }
  to {
    padding: 10px;
  }
}

@media (min-width: 851px) {
  nav {
  background-color: #8badd4;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}