section p {
  margin-top: 0px;
  color: grey;
  font-size: 22px;
  font-weight: bold;
}

/* Text to insert in the form box placeholder */
section form {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Box placeholder to tweet*/
textarea {
  font-size: 25px;
  font-weight: bold;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  border-width: thick;
  width: 100%;
  height: 50px;
}

/* Position of Tweet button and counter */
form footer{
  display: flex;
  justify-content: space-between;
  font-family:'Bungee', sans-serif;
}

/* Tweet button*/
input {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: 3px solid transparent;
  
}

/* Tweet box hover*/
input:hover {
  -webkit-box-shadow: 0px 0px 3px 5px rgba(18,141,255,0.48); 
  box-shadow: 0px 0px 3px 5px rgba(18,141,255,0.48);
}

.red {
  color: red
}